<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"site-programs","layout":{"type":"default"},"style":{"spacing":{"margin":{"top":"0"}}}} -->
<main class="wp-block-group site-programs" style="margin-top:0">
	<!-- wp:cover {"useFeaturedImage":true,"dimRatio":40,"customOverlayColor":"#000000","isUserOverlayColor":true,"minHeight":516,"minHeightUnit":"px","contentPosition":"bottom left","align":"wide","className":"site-programs__hero","layout":{"type":"constrained"}} -->
	<div class="wp-block-cover alignwide site-programs__hero" style="min-height:516px"><span aria-hidden="true" class="wp-block-cover__background has-background-dim-40 has-background-dim" style="background-color:#000000"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"className":"site-container--full-width site-programs__hero-inner","layout":{"type":"default"}} -->
	<div class="wp-block-group site-container--full-width site-programs__hero-inner"><!-- wp:post-title {"level":1,"textColor":"base"} /--></div>
	<!-- /wp:group --></div></div>
	<!-- /wp:cover -->

	<!-- wp:group {"className":"site-container--full-width site-programs__description","layout":{"type":"default"},"style":{"spacing":{"margin":{"top":"var:preset|spacing|l"},"padding":{"bottom":"0"}}}} -->
	<div class="wp-block-group site-container--full-width site-programs__description"><!-- wp:queens-botanical-block/program-description /--></div>
	<!-- /wp:group -->

	<!-- wp:group {"className":"site-container--full-width site-programs__body","layout":{"type":"default"}} -->
	<div class="wp-block-group site-container--full-width site-programs__body"><!-- wp:columns {"className":"site-programs__columns","style":{"spacing":{"blockGap":{"left":"var:preset|spacing|m"},"margin":{"top":"var:preset|spacing|l"}}}} -->
	<div class="wp-block-columns site-programs__columns"><!-- wp:column {"width":"66.66%","className":"site-programs__content"} -->
	<div class="wp-block-column site-programs__content"><!-- wp:post-content {"layout":{"type":"constrained"}} /--></div>
	<!-- /wp:column -->

	<!-- wp:column {"width":"33.33%","className":"site-programs__sidebar"} -->
	<div class="wp-block-column site-programs__sidebar"><!-- wp:template-part {"slug":"sidebar-programs","area":"uncategorized","tagName":"aside"} /--></div>
	<!-- /wp:column --></div>
	<!-- /wp:columns --></div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
